*{

box-sizing:border-box;

}


body{

font-family:Arial;

background:#f1f5f9;

padding:30px;

}


.container{

max-width:900px;

margin:auto;

}


h1{

text-align:center;

}



.cards{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:20px;

}


.card{

background:white;

padding:25px;

border-radius:15px;

text-align:center;

box-shadow:0 5px 15px #ccc;

}



.todo,
.github{

background:white;

margin-top:25px;

padding:25px;

border-radius:15px;

}



input{

padding:12px;

width:70%;

}



button{

padding:12px 20px;

background:#2563eb;

color:white;

border:none;

cursor:pointer;

border-radius:8px;

}



li{

padding:10px;

background:#eee;

margin:8px;

list-style:none;

}



@media(max-width:700px){

.cards{

grid-template-columns:1fr;

}

}
